<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>自傳履歷</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:black; font-size:60px;}
  h2 {color:blue; font-size:40px;}
  h3 {color:black; font-size:30px;}
 </style>


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="https://www1.pu.edu.tw/~s1100411/picture/凡/aaabbb.jpg"width="80%"></img>
 </td>>

 <td>
  <h1></h1><br>
 </td>
</tr>
</table>
<table width="80%" border="1">
<tr>
 <td>
 <h3>自我介紹</h3>
  大家好，我是柯若凡,目前就讀靜宜大學企管系四年級,興趣是研究資訊相關的網站，在網站中我可以吸收許多和管理相關的資訊,透過學習，強化自己的解決能力，期許自己能在未來的職場上對所屬的團隊有所貢獻。
 </td>

 <td>
  <h3>未來規劃</h3>
   在未來的工作中，我希望能夠選擇跟內勤業務相關的工作,因為這份工作不僅可以加強資訊的技術能立，同時也可以持續學習到新的技能，才能夠跟上變化快速的科技趨勢。
 </td>

 <td>
 <h3>對自己的期許</h3>
  我希望未來的我可以在管理領域中建立全面性的專業素養，包括資料管理、系統性的分析等等方面，並藉由跨領域的知識，成為能夠協助企業提高效能並應對挑戰的專業人才，另外我也希望透過積極參與專案來增進同事彼此間的信任，讓未來的自己能夠在職涯中不斷的成長並有所收穫。
 </td>

</tr>
</table>

</body>