<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>內勤業務相關介紹</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:blue; font-size:50px;}
  h2 {color:black; font-size:20px;}
 </style>
 


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="https://www1.pu.edu.tw/~s1100411/picture/abc123/abc123.jpg"width="110%"></img>
 </td>>

 <td>
  <h1>艾索科技股份有限公司  </h1><br>
 </td>
</tr>
</table>
<table width="70%" border="1">
<tr>
 <td>
 <h2>關於公司</h2><br>
  名稱:艾索科技股份有限公司 <br>
  上班地點:台北市中山區松江路131號8樓(距捷運松江南京站約240公尺)<br>
  工作內容:<br>
   1.主要負責市場前期開發工作，進行電話訪問 <br>
   2.協助銷售開發定向客戶群，進行產品推廣與活動邀約<br>
   3.協助開發新客戶，經營並維護既有客戶<br> 
   4.協助產品推廣執行，包含活動執行、文件編輯等<br>  
   5.完成長官派任事務 <br>
 Contact:<br>
  公司網站:<a href="https://www.aisol.com.tw/index.php?action=about">https://www.aisol.com.tw/index.php?action=about</a><br>
  人才招募介紹:合理的工作時間，兼具生活品質！<br>
 </td>

 <td>
  <h2>職務介紹</h2><br>
   國內業務、<br>
   內勤業務、<br>
   電話行銷人員<br>
 </td>

 <td>
 <h2>徵才條件</h2><br>
  工作經歷:不拘<br>
  學歷要求:專科以上<br>
  科系要求:不拘<br>
  語文條件:不拘<br>
  擅長工具:Excel、PowerPoint、Word<br>
  其他條件:<br>
    1.具開朗, 活潑個性, 親和力 <br>
    2.反應力快,吸收力強<br>
    3.口齒清晰, 表達力優, 配合度佳<br>
    4.有積極進取,有服務熱忱,肯學習的態度<br>
 </td>
</tr>
</table>

</body>